<form action="/products/create" method="POST">
  <div class="form-control">
    <label for="name">Nome do produto:</label>
    <input type="text" name="name" placeholder="Digite o nome do produto" />
  </div>
  <div class="form-control">
    <label for="imageUrl">Url da imagem:</label>
    <input type="text" name="imageUrl" placeholder="Digite a url do produto" />
  </div>
  <div class="form-control">
    <label for="price">Preço:</label>
    <input type="text" name="price" placeholder="Digite o preço do produto" />
  </div>
  <div class="form-control">
    <label for="description">Descrição</label>
    <input type="text" name="description" placeholder="Descrição do produto" />
  </div>
  <input type="submit" value="Criar produto" class="btn">
</form>