<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Node.js + Sequelize</title>
</head>
<body>
  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/users/create">Add user</a>
      </li>
    </ul>
  </nav>
  {{{body}}}
</body>
</html>