<h1>Add a User</h1>
<form action="/users/create" method="POST">
  <div>
    <label for="name">Name</label>
    <input type="text" name="name" placeholder="Type the username" />
  </div>
  <div>
    <label for="occupation">Occupation</label>
    <input type="text" name="occupation" placeholder="Type the occupation" />
  </div>
  <div>
    <label for="newsletter">Newsletter</label>
    <input type="checkbox" name="newsletter" checked />
  </div>
  <div>
    <input type="submit" value="Submit">
  </div>
</form>