<h1>Create Task</h1>
<form action="/tasks/create" method="POST">
  <div class="form-control">
    <label for="title">Title</label>
    <input type="text" name="title" placeholder="What task needs to be done?" /> 
  </div>
  <div class="form-control">
    <label for="description">Description</label>
    <textarea name="description" placeholder="Task description..."></textarea>
  </div>
  <input type="submit" value="Create" />
</form>